{% set attributes = (variant != 'default') ? attributes.addClass('pf-m-' ~ variant) : attributes %}
{% set attributes = sticky ? attributes.addClass('pm-m-sticky') : attributes %}
{% if status %}
  {% set attributes = attributes.addClass('pfm-' ~ status) %}
{% endif %}

<div {{ attributes.addClass('pf-v6-c-banner') }}>
    {{ content }}
</div>
